@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0%;
  padding: 0%;
}
body {
  background: linear-gradient(
      180deg,
      rgba(12, 112, 242, 0.5) 19.91%,
      rgba(12, 112, 242, 0) 24.84%
    ),
    #303030;
  background-repeat: no-repeat;
}
/*menu de navegação principal*/
#principal {
  width: 100%;
  height: 100px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#principal div a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
#principal div a:hover {
  transform: translateY(-9px);
  transition: 0.6s;
  color: #d6d6d6cc;
}

#nav-superior {
  display: flex;
  justify-content: space-around;
  width: 45%;
  align-items: center;
}
#principal button {
  margin-right: 5%;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
  background-color: #0c70f2;
  border: 0%;
  height: 40px;
  width: 80px;
  box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
  cursor: pointer;
}
#principal button:hover {
  transform: translateY(-9);
  transition: 0.6s;
  color: #0c70f2;
  background-color: white;
  box-shadow: 0px 15px 20px black;
}

/* conteudo/seção  principal*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 100px 0px;
}

header {
  color: white;
  font-family: "Inter", sans-serif;
}

header h1 {
  font-weight: 800px;
  font-size: 80px;
  margin-bottom: 20px;
  text-align: center;
}
header h2 {
  font-weight: 700;
  margin-bottom: 100px;
  text-align: center;
}
header .cor {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
}

/*formulario*/

form {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  width: 600px;
}
.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

form input {
  height: 36px;
  border: 0%;
  border-radius: 10px;
  padding-left: 8px;
  font-size: 20px;
}
form label {
  margin: 10px 0px 10px 0px;
}
.checkbox label {
  font-size: 25px;
}

form input::placeholder {
  color: rgba(57, 57, 57, 0.5);
}
.checkbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input[type="checkbox"] {
  transform: scale(1.7);
}
input[type="submit"] {
  width: 100%;
  height: 56px;
  color: white;
  background-color: #0c70f2;
  box-shadow: 0px 6px 4px rgba(27, 121, 246, 0.25);
  border-radius: 10px;
  margin-top: 100px;
  border: 0%;
  cursor: pointer;
}
input[type="submit"]:hover {
  transform: translateY(-8);
  transition: 0.6s;
  color: #0c70f2;
  background-color: white;
  box-shadow: #303030;
}
/*footer roda pé do site */

footer {
  width: 100%;
  background-color: #0c70f2;
  font-family: "Inter", sans-serif;
}
footer .linha1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 270px;
}
footer ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h5 {
  text-align: center;
  color: white;
  background-color: #303030;
  padding: 0%;
  margin-bottom: 5px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  padding: 5px 10px 5px 10px;
}
#titulo {
  margin-top: 25px;
  margin-bottom: 5px;
}
#titulo2 {
  margin-bottom: 15px;
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul li {
  text-align: center;
  color: white;
  font-weight: 600;
  margin: 20px 0px 20px 0px;
}

footer ul a:hover {
  transform: translatey(-7);
  transition: 0.5s;
  box-shadow: 0px 15px 20px black;
}
footer .linha2 {
  text-align: center;
  text-decoration: none;
}
footer .linha2 a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
footer .endereco {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600px;
  width: 28%;
  text-align: center;
}
footer .linha2 a:hover {
  color: gray;
}
footer .linha2 a:first-child {
  border-right: 3px solid white;
}
@media only screen and (max-width: 600px) {
  /*menu media */
  #principal {
    height: auto;
    flex-direction: column;
  }
  #nav-superior {
    flex-direction: column;
    width: 100%;
   
  }
  #nav-superior a {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 28px;
  }
  #principal button {
    width: 100%;
    margin: 0%;
  }
  /*seção*/

  section h1 {
    font-size: 38px;
  }
  section h2 {
    font-size: 30px;
    padding: 0px 15px 0px 15px;
  }
  
  form {
    width: 65%;
    
    font-size: 20px;
  }
  .checkbox label {
    font-size: 18px;
   
  }
/*footer*/
footer .linha1 {
flex-direction: column;
height: 100%;
}
.endereco{
width: 95%;
margin-bottom: 25px;


}

}
